---
# Container info
- descriptor: "pip-services:container-info:default:default:*"
  name: "geo-facades"
  description: "Geo-facades microservice"

# Console logger
- descriptor: "pip-services:logger:console:default:*"
  level: trace

# Log counters
- descriptor: "pip-services:counters:log:default:*"

# Beacon-admin client
{{^MOCK}}
- descriptor: "beacon-admin:client:grpc:default:1.0"
  connection:
    protocol: "http"
    host: {{BEACON_ADMIN_SERVICE_HOST}}{{^BEACON_ADMIN_SERVICE_HOST}}"localhost"{{/BEACON_ADMIN_SERVICE_HOST}}
    port: {{BEACON_ADMIN_SERVICE_PORT}}{{^BEACON_ADMIN_SERVICE_PORT}}10010{{/BEACON_ADMIN_SERVICE_PORT}}
{{/MOCK}}
{{#if MOCK}}
- descriptor: "beacon-admin:client:null:default:1.0"
{{/if}}

# Location-monitor client
- descriptor: "location-monitor:client:grpc:default:1.0"
  connection:
    protocol: "http"
    host: {{LOCATION_MONITOR_SERVICE_HOST}}{{^LOCATION_MONITOR_SERVICE_HOST}}"localhost"{{/LOCATION_MONITOR_SERVICE_HOST}}
    port: {{LOCATION_MONITOR_SERVICE_PORT}}{{^LOCATION_MONITOR_SERVICE_PORT}}10030{{/LOCATION_MONITOR_SERVICE_PORT}}

# Geo-renderer client
- descriptor: "geo-renderer:client:grpc:default:1.0"
  connection:
    protocol: "http"
    host: {{GEO_RENDERER_SERVICE_HOST}}{{^GEO_RENDERER_SERVICE_HOST}}"localhost"{{/GEO_RENDERER_SERVICE_HOST}}
    port: {{GEO_RENDERER_SERVICE_PORT}}{{^GEO_RENDERER_SERVICE_PORT}}10040{{/GEO_RENDERER_SERVICE_PORT}}

# Geo-history client
- descriptor: "geo-history:client:grpc:default:1.0"
  connection:
    protocol: "http"
    host: {{GEO_HISTORY_SERVICE_HOST}}{{^GEO_HISTORY_SERVICE_HOST}}"localhost"{{/GEO_HISTORY_SERVICE_HOST}}
    port: {{GEO_HISTORY_SERVICE_PORT}}{{^GEO_HISTORY_SERVICE_PORT}}10050{{/GEO_HISTORY_SERVICE_PORT}}

# Zone-processor client
- descriptor: "zone-processor:client:grpc:default:1.0"
  connection:
    protocol: "http"
    host: {{ZONE_PROCESSOR_SERVICE_HOST}}{{^ZONE_PROCESSOR_SERVICE_HOST}}"localhost"{{/ZONE_PROCESSOR_SERVICE_HOST}}
    port: {{ZONE_PROCESSOR_SERVICE_PORT}}{{^ZONE_PROCESSOR_SERVICE_PORT}}10060{{/ZONE_PROCESSOR_SERVICE_PORT}}

# Zone-monitor client
- descriptor: "zone-monitor:client:grpc:default:1.0"
  connection:
    protocol: "http"
    host: {{ZONE_MONITOR_SERVICE_HOST}}{{^ZONE_MONITOR_SERVICE_HOST}}"localhost"{{/ZONE_MONITOR_SERVICE_HOST}}
    port: {{ZONE_MONITOR_SERVICE_PORT}}{{^ZONE_MONITOR_SERVICE_PORT}}10070{{/ZONE_MONITOR_SERVICE_PORT}}

# Main facade service
- descriptor: "pip-services:endpoint:http:default:*"
  root_path: ""
  connection:
    protocol: "http"
    host: "0.0.0.0"
    port: 8081
  options:
    debug: true
    maintenance_enabled: false
    max_req_size: "1024mb"
  cors_headers: "trace_id,access_token,x-session-id,Accept,Content-Type,Content-Length,X-CSRF-Token,authorization"
  cors_origins:  "*"

# Facade API V1
- descriptor: "geo-facade:controller:http:default:1.0"

# Hearbeat service
- descriptor: "pip-services:heartbeat-controller:http:default:1.0"

# Status service
- descriptor: "pip-services:status-controller:http:default:1.0"
